
resources/
dataset/
OGB Code/
model/
SEAl Coe/
sgnn_lrp_via_mp-main/
rel_walk_gnnlrp-main/
data/subgraph*
test.py
LRP_bridge.py
venv
*.pyc
*.png
outdated/verification.py
*.xml
*.iml
*.zip
*.svg
*.jpeg
