
data/edge.csv
data/node-feat.csv
data/node_year.csv
data/nodeidx2paperid.csv
data/num-edge-list.csv
data/num-node-list.csv
resources/dataset/ogbl_citation2/mapping/nodeidx2paperid.csv.gz
resources/dataset/ogbl_citation2/processed/geometric_data_processed.pt
resources/dataset/ogbl_citation2/mapping/README.md
resources/dataset/ogbl_citation2/processed/pre_filter.pt
resources/dataset/ogbl_citation2/processed/pre_transform.pt
resources/dataset/ogbl_citation2/raw/edge.csv.gz
resources/dataset/ogbl_citation2/raw/node-feat.csv.gz
resources/dataset/ogbl_citation2/raw/node_year.csv.gz
resources/dataset/ogbl_citation2/raw/num-edge-list.csv.gz
resources/dataset/ogbl_citation2/raw/num-node-list.csv.gz
resources/dataset/ogbl_citation2/RELEASE_v1.txt
resources/dataset/ogbl_citation2/split/time/test.pt
resources/dataset/ogbl_citation2/split/time/train.pt
resources/dataset/ogbl_citation2/split/time/valid.pt
test.py
